.rounded-circle.circle-sm {
    width: 50px;
    height: 50px;
}

.rounded-circle.circle-md {
    width: 125px;
    height: 125px;
}

.rounded-circle.circle-lg {
    width: 200px;
    height: 200px;
}
