.rounded-circle.circle-sm {
    width: 75px;
    height: 75px;
}

.rounded-circle.circle-md {
    width: 135px;
    height: 135px;
}

.rounded-circle.circle-lg {
    width: 200px;
    height: 200px;
}

.custom-file {
    max-width: 20rem;
    overflow: hidden;
}

.custom-file-label {
    white-space: nowrap;
}

.balloon-left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 15px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e0edff;
    border-radius: 8px;
    word-break: break-all;
}

.balloon-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
}

.balloon-left h5 {
    margin: 0;
    padding: 0;
}

.balloon-right {
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 15px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: #e2ffe0;
    border-radius: 8px;
    word-break: break-all;
}

.balloon-right:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #e2ffe0;
}

.balloon-right h5 {
    margin: 0;
    padding: 0;
}

.form-fixed-bottom {
    position: fixed;
    bottom: 1%;
    width: 100%;
    z-index: 1;
}

.post-show.title-area {
    position: relative;
}

.post-show.edit-button-area {
    position: absolute;
    bottom: 0;
    right: 0;
}

.nav-item .nav-link.message {
    position: relative;
}

.unread {
    position: absolute;
    top: 7px;
    right: 40px;
    width: 20px;
    height: 20px;
    border: #ff0000;
    background-color: #ff0000;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    z-index: 1;
}

.sidebar_fixed {
    position: sticky;
    top: 7vh; /* スクロール後のヘッダーのheight分 */
    min-height: 93vh; /* 初期表示のheightの最小値をヘッダー(7vh)の差分で設定 */
    z-index: 1019;
}

.sidebar_fixed .item:hover {
    background-color: #007cbf;
}

.btn_send_message img, .btn_attach_image img{
    height: 30px;
}
